
/* Bootstrap */
@import "bootstrap/variables.pcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Components */
@import "components/habit.pcss";
@import "components/add-habit.pcss";
