
.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;

    &__add {
        @apply cursor-pointer rounded-full border-4 m-5;

        border-color: var(--gray-300);
        transition: all 150ms ease-in-out;

        i {
            @apply flex justify-center items-center text-2xl;

            width: 40px;
            height: 40px;
            color: var(--gray-500);
        }

        &:hover {
            transform: scale(1.15);
        }
    }
}
